body{
    margin: 0;
    padding: 0;
}

.nav-tool{
    text-align: left;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 5px;
}

.nav h2{
    margin: 0;
    margin-left: 10rem;
    color: rgb(152, 152, 152);
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz o contêiner ocupar toda a altura da tela */
    text-align: center;
    margin-left: -40rem;
}

.home-h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #535854;
    text-transform: uppercase;
    letter-spacing: 2.5rem;
}

span {
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-left: 0; /* Reseta o margin-left para centralizar */
}


.wallpaper {
    display: none; /* A imagem de wallpaper será usada como background e não precisa ser exibida diretamente */
}
.home::before {
    content: '';
    background: url('/imagens/wallp.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8; 
}

.btn-rede{
    height: 40px;
}
.button-group{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contact-button{
    border: 4px solid #ffffff;
    background-color: #ffffff75;
    padding: 30px;
    border-radius: 20px;
}
.button-login{
    border: 4px solid #ffffff;
    background-color: #ffffff75;
    padding: 30px;
    border-radius: 20px;
}
