body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}


.status-value {
    color: #d9534f;
}

.etapas ul {
    list-style-type: none;
    padding: 0;
}

.etapas li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #ccc;
}

.completed {
    color:#008100;
    font-weight: 700;
}

.pending {
    color: #ca8300;
    font-weight: 700;
}

.voltar{
    background-color: #5a5a5a;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.voltar-home{
    background-color: #ca8300;
    padding: 20px;
    color: #fff;
    margin-left: 20.5rem;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.voltar:hover{
    background-color: #2b2b2b;
}

.voltar-home:hover{
    background-color: #996300; 
}